node_modules
**/node_modules
.next
**/.next
dist
**/dist
build
**/build
coverage
**/coverage
.turbo
**/.turbo
.git
.gitignore
.env
.env.*
!.env.example
!.env.local.example
!.env.development
npm-debug.log*
*.log
Dockerfile
docker-compose*.yml
